<section>
    <div class="book-nav">
        <div class="book-prev" data-bind="with: prev()">
            <a data-bind="attr: { href: hash, title: name }">
                <i class="icon-step-backward"></i> Prev
                <div data-bind="html: name"></div>
            </a>
        </div>
        <div class="book-next" data-bind="with: next()">
            <a data-bind="attr: { href: hash, title: name }">
                Next <i class="icon-step-forward"></i> 
                <div data-bind="html: name"></div>
            </a>
        </div>
    </div>
    <div class="book">
        <h4>Book <span data-bind="html: book().number"></span></h4>
        <h2 data-bind="html: book().name"></h2>
        <div class="chapter" data-bind="foreach: { data: book().chapters, afterRender: scrollToSelected }">
            <h3 data-bind="attr: {'id': number}">Chapter <span data-bind="html: number"></span></h3>
            <div>
                <div class="verses" data-bind="foreach: verses">
                    <sub class="verse-number" data-bind="html: number"></sub><span class="verse" data-bind="html: text"></span>
                </div>
            </div>
        </div>
    </div>
</section>